.header{
    background-color: var(--color-amarillo);   
    padding: 10px; 
}
.header img{
    width: 50%;
}
header form{
    width: 50%;
    border: none;
}
header h3{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
header p{
    text-align: center;
    margin: 10px 0;
}
header nav{
    display: none;
}
header .burger-menu{
    text-align: center;
    padding: 10px 0;
}
header .burger-menu i{
    border-radius: 5px;
    background-color: var(--color-celeste);
    color: white;
    padding: 10px;
    font-size: 16px;
}
.arriba{
    display: flex;
}



  
@media (min-width: 361px) {
    header nav{
        display: block;
    }
    header .burger-menu{
        display: none;
    }
    .arriba2{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    header nav .listconteiner{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    header nav .lista1, .lista2{
        display: flex;
        justify-content: space-around;
    }
}