.login{
    background-color: var(--color-grisclaro);
    width: 100%;
}
.login h1{
    text-align: center;
    color: var(--color-grisoscuro);
    padding: 40px 0;
}
.login form{
    color: var(--color-grisoscuro);
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
    
}
.login form input{
    border-radius: 6px;
    width: 70%;
    padding: 10px;
    border: none;
}
.login form .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.login form button{
    width: 70%;
    color: white;
    background-color: var(--color-celeste);
    border-radius: 6px;
    padding: 10px;
}